In [166]:
import pandas as pd
import numpy as np
import os
import csv

In [167]:
df = pd.read_csv('./college_institution.csv')
ds = pd.read_csv('./infrastructure.csv')

In [168]:
print(df.shape)
print(ds.shape)

(19797, 11)
(43085, 7)

In [169]:
print(ds.values)
##ds.values?

[[0.00000e+00 1.85131e+05 1.00000e+00 ... 1.00000e+00 0.00000e+00
  1.00000e+00]
 [1.00000e+00 2.02094e+05 1.00000e+00 ... 0.00000e+00 0.00000e+00
  1.00000e+00]
 [2.00000e+00 1.97414e+05 1.00000e+00 ... 1.00000e+00 1.00000e+00
  1.00000e+00]
 ...
 [4.30820e+04 1.86161e+05 1.00000e+00 ... 1.00000e+00 1.00000e+00
  1.00000e+00]
 [4.30830e+04 1.64702e+05 1.00000e+00 ... 1.00000e+00 1.00000e+00
  1.00000e+00]
 [4.30840e+04 1.74672e+05 1.00000e+00 ... 1.00000e+00 0.00000e+00
  0.00000e+00]]

In [170]:
##print(df.head())
##print(ds.head())

In [171]:
##df.describe()

In [172]:
##df.describe?

In [173]:
##ds = ds.drop(["id"],axis=1)

In [174]:
ds['sum'] = ds[ds.columns[2:]].sum(axis=1)

In [175]:
ds.head()

,Unnamed: 0,id,no_of_libraries,no_of_laboratories,no_of_conference_halls,no_of_health_centers,no_of_computer_centers,sum
0,0,185131,1.0,3.0,1.0,0.0,1.0,6.0
1,1,202094,1.0,0.0,0.0,0.0,1.0,2.0
2,2,197414,1.0,1.0,1.0,1.0,1.0,5.0
3,3,164444,1.0,4.0,1.0,0.0,1.0,7.0
4,4,188887,1.0,0.0,1.0,1.0,1.0,4.0

In [176]:
ds=ds.to_csv('infrastructure_sum.csv')

In [38]:
ds.head()

,Unnamed: 0,no_of_libraries,no_of_laboratories,no_of_conference_halls,no_of_health_centers,no_of_computer_centers,sum
0,0,1.0,3.0,1.0,0.0,1.0,740554.0
1,1,1.0,0.0,0.0,0.0,1.0,808391.0
2,2,1.0,1.0,1.0,1.0,1.0,789691.0
3,3,1.0,4.0,1.0,0.0,1.0,657826.0
4,4,1.0,0.0,1.0,1.0,1.0,755588.0